@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .default-container {
    @apply w-[90%] md:w-4/5 mx-auto;
  }
}

.question select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 8px center;
  padding-right: 24px;
  width: 90%;
  padding: 3px;
  border-radius: 10px;
  margin-left: 5px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


select {
  transition: background-color 0.2s ease-in-out;
}
select:hover {
  background-color: #e6e6e6;
}
select:focus {
  outline: none;
  background-color: #f5f5f5;
}
select option{
  margin-left: 10px;
}

.spinner {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 5px solid #ccc;
  border-radius: 50%;
  border-top-color: #ff6600;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner.small {
  width: 20px;
  height: 20px;
  border-width: 2px;
}

.spinner.blue {
  border-color: blue;
}

.spinner.green::after {
  border-top-color: green;
}

.spinner.fast::after {
  animation-duration: 0.5s;
}
.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #343fdb;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 767px) {
  .col-span-1 {
    grid-column: 1 / -1;
    overflow: none;
  }
}
body {
  font-family: Arial, sans-serif;
}


#article-window {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 2em;
  max-width: 80%;
}

.article-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  margin-bottom: 1em;
  color:#646767;
}

.article-content {
  font-size: 1.2em;
  line-height: 1.5;
  text-align: justify;
}
.pay_btn,.delete_btn{
  font-weight: bold;
  color:green;
  position: relative;
  right:0.5rem;
  text-align:center;
  color:blue;
   border: 1px solid #ccc;
   border-radius: 5px;
   text-decoration: none;
   padding: 5px 10px;
}

